/* fonts */
@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Light.woff2") format("woff2"),
    url("/fonts/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* reset & common styles */
body {
  background: rgb(100, 0, 123);
  background: radial-gradient(
    circle,
    rgba(100, 0, 123, 1) 0%,
    rgba(62, 20, 86, 1) 100%
  );
  color: #fff;
  font-family: "Quicksand";
  letter-spacing: 2px;
}
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}

/* header */
header {
  display: flex;
  padding: 40px;
  align-items: center;
}
header .title {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 0.6em;
}
header h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
}
header .pizza-svg {
  width: 80px;
  overflow: visible;
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
}
