/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: purple;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: #fff;
}

.wrap {
  min-height: 100vh;
  overflow-x: hidden;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  margin-left: 2rem;
}

.navbar__logo a {
  font-size: 24px;
  text-decoration: none;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
}

.navbar__menu > li {
  margin-left: 1.5rem;
}

.navbar__menu > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  text-decoration: none;
}

.navbar__menu > li.seleted {
  -webkit-box-shadow: inset 0 -2px 0 #fff;
          box-shadow: inset 0 -2px 0 #fff;
}

.navbar__toggle {
  display: none;
}

@media (max-width: 767px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    border-bottom-left-radius: 200vw;
    border-bottom-right-radius: 200vw;
    background: rgba(255, 255, 255, 0.12);
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transition: all 0.6s cubic-bezier(0.13, 0.63, 0.8, 0.15);
    transition: all 0.6s cubic-bezier(0.13, 0.63, 0.8, 0.15);
  }
  .navbar.active::before {
    height: 100vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .navbar__logo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 50px;
    margin-left: 1.25rem;
  }
  .navbar__menu {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: hidden;
    width: 100%;
    height: 0;
    margin: 0;
    opacity: 0;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  .navbar.active .navbar__menu {
    opacity: 1;
    height: 100%;
    padding: 0.5rem 0;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .navbar__menu > li {
    min-width: 100%;
    margin: 0;
  }
  .navbar__menu > li > a {
    min-height: auto;
    padding: 1.25rem;
  }
  .navbar__menu > li.seleted {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    min-width: 18px;
    min-height: 18px;
    border: 0;
    background-color: transparent;
    outline: none;
  }
  .navbar__toggleIcon,
  .navbar__toggleIcon::before,
  .navbar__toggleIcon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 19px;
    height: 1px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background: #fff;
  }
  .navbar__toggleIcon::before {
    top: -5px;
  }
  .navbar__toggleIcon::after {
    bottom: -5px;
  }
  .navbar.active .navbar__toggleIcon {
    background: transparent;
  }
  .navbar.active .navbar__toggleIcon::before,
  .navbar.active .navbar__toggleIcon::after {
    top: 0;
  }
  .navbar.active .navbar__toggleIcon::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .navbar.active .navbar__toggleIcon::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
/*# sourceMappingURL=style.css.map */