@import "scss/variables";
@import "scss/mixins";
@import "scss/reset";

body {
  background: purple;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  color: #fff;
}
.wrap {
  min-height: 100vh;
  overflow-x: hidden;
}
// a11y
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// navbar
.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  margin-left: 2rem;
}
.navbar__logo a {
  font-size: 24px;
  text-decoration: none;
}
.navbar__menu {
  display: flex;
  margin-right: 2rem;
}
.navbar__menu > li {
  margin-left: 1.5rem;
}
.navbar__menu > li > a {
  display: flex;
  align-items: center;
  min-height: 60px;
  text-decoration: none;
}
.navbar__menu > li.seleted {
  box-shadow: inset 0 -2px 0 #fff;
}
.navbar__toggle {
  display: none;
}

@include respond-below(md) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 0;
      border-bottom-left-radius: 200vw;
      border-bottom-right-radius: 200vw;
      background: rgba(255, 255, 255, 0.12);
      transform: scale(2);
      transition: all 0.6s cubic-bezier(0.13, 0.63, 0.8, 0.15);
    }

    &.active::before {
      height: 100vh;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      transform: scale(1);
    }
  }
  .navbar__logo {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-left: 1.25rem;
  }
  .navbar__menu {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    height: 0;
    margin: 0;
    opacity: 0;
    transition: all 0.6s ease-out;

    .navbar.active & {
      opacity: 1;
      height: 100%;
      padding: 0.5rem 0;
      transition-delay: 0.5s;
    }
  }
  .navbar__menu > li {
    min-width: 100%;
    margin: 0;
  }
  .navbar__menu > li > a {
    min-height: auto;
    padding: 1.25rem;
  }
  .navbar__menu > li.seleted {
    box-shadow: none;
  }
  .navbar__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    min-width: 18px;
    min-height: 18px;
    border: 0;
    background-color: transparent;
    outline: none;
  }
  .navbar__toggleIcon,
  .navbar__toggleIcon::before,
  .navbar__toggleIcon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 19px;
    height: 1px;
    transition: all 300ms ease-in-out;
    background: #fff;
  }
  .navbar__toggleIcon {
    &::before {
      top: -5px;
    }
    &::after {
      bottom: -5px;
    }
    .navbar.active & {
      background: transparent;
    }
    .navbar.active &::before,
    .navbar.active &::after {
      top: 0;
    }
    .navbar.active &::before {
      transform: rotate(45deg);
    }
    .navbar.active &::after {
      transform: rotate(-45deg);
    }
  }
}
